@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Pacifico&family=Rock+Salt&display=swap');

*{
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}


.pacifico-regular {
    margin-top: 50px;
    font-family: "Rock Salt", cursive;
    font-weight: 400;
    font-style: normal;
    color: white;
  }  

body {
    margin-top: 150px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
}
.et-a-sc {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: 40px solid rgb(197, 0, 0);
    border-radius: 0px 0px 10px 10px;
}

.row {
    display: flex;
    flex-direction: row;
}

.box {
    width: 50px;
    height: 30px;
    background-color: white;
    transition: background-color 1s 999999s;
}

.box:hover{
    background-color: rgb(54, 54, 54);
    transition: background-color 0s;
}

.container {
    display:inline-block;
    border-radius: 10px;
    box-shadow: 20px 20px 10px grey;
}

.btns {
    display: flex;
    gap: 10px;
}

.btn {
    background-color: white;
    color: black;
    border-radius: 5px;
    border: 2px solid black;
    padding: 10px 20px;
    cursor: pointer;
    margin-bottom: 30px;
    font-size: 20px;
}

.btn:hover{
    box-shadow: 3px 3px black ;
}

.upBoard {
    background-color: rgb(197, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    border-radius: 10px 10px 0px 0px;
}

.circle{
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 100px;
    margin: 35px;
}